name: Test / Publish

on:
  pull_request:
  push:
    branches: [main]
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      publish:
        description: Publish to NuGet
        default: None
        type: choice
        options:
          - 'No'
          - Staging
          - Production

jobs:
  test:
    name: Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: windows-latest
            build-config: debug
            intrinsics: HWIntrinsics
            avx2: Avx2
          - os: macos-latest
            build-config: debug
            intrinsics: HWIntrinsics
            avx2: NoAvx2
          - os: ubuntu-latest
            build-config: debug
            intrinsics: HWIntrinsics
            avx2: NoAvx2
          
          - os: windows-latest
            build-config: release
            intrinsics: NoHWIntrinsics
            avx2: NoAvx2
          - os: windows-latest
            build-config: release
            intrinsics: HWIntrinsics
            avx2: Avx2

          - os: macos-latest
            build-config: release
            intrinsics: NoHWIntrinsics
            avx2: NoAvx2
          - os: macos-latest
            build-config: release
            intrinsics: HWIntrinsics
            avx2: NoAvx2

          - os: ubuntu-latest
            build-config: release
            intrinsics: HWIntrinsics
            avx2: Avx2
          - os: ubuntu-latest
            build-config: release
            intrinsics: HWIntrinsics
            avx2: NoAvx2
          - os: ubuntu-latest
            build-config: release
            intrinsics: NoHWIntrinsics
            avx2: NoAvx2
            
    env:
      DOTNET_EnableAVX2: ${{ matrix.avx2 == 'NoAvx2' && '0' || '1' }}
      DOTNET_EnableHWIntrinsic: ${{ matrix.intrinsics == 'NoHWIntrinsics' && '0' || '1' }}
      
    steps:
      - name: Check out repository
        uses: actions/checkout@v5

      - name: Set up .NET
        uses: actions/setup-dotnet@v5

      - name: Test
        working-directory: src/Nethermind.Int256.Tests
        run: dotnet test -c ${{ matrix.build-config }}

  publish:
    name: Publish
    needs: test
    if: github.event_name == 'workflow_dispatch' && github.event.inputs.publish != 'No' || github.event_name == 'release'
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v5

      - name: Set up .NET
        uses: actions/setup-dotnet@v5

      - name: Publish
        env:
          DOTNET_EnableAVX2: 1
          DOTNET_EnableHWIntrinsic: 1
          NUGET_API_KEY: ${{ github.event.inputs.publish == 'Staging' && secrets.NUGETTEST_API_KEY || secrets.NUGET_API_KEY }}
        working-directory: src
        run: |
          dotnet pack ./Nethermind.Int256 -c release
          dotnet nuget push ./artifacts/package/release/*.nupkg -k $NUGET_API_KEY \
            -s ${{ github.event.inputs.publish == 'Staging' && 'https://apiint.nugettest.org/v3/index.json' || 'https://api.nuget.org/v3/index.json' }}
