name: Test

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
  push:
    branches: [master]
  workflow_dispatch:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        build-config: [debug, release]
        hardware-intrinsics: [0, 1]
    env:
      DOTNET_EnableHWIntrinsic: ${{ matrix.hardware-intrinsics }}
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
    
      - name: Set up .NET
        uses: actions/setup-dotnet@v3

      - name: Test
        working-directory: src/Nethermind.Int256.Test
        run: dotnet test -c ${{ matrix.build-config }}
