name: Test / Publish

on:
  pull_request:
  push:
    branches: [main]
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      publish:
        description: Publish to NuGet
        default: None
        type: choice
        options:
          - 'No'
          - Staging
          - Production

jobs:
  test-publish:
    name: Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          # debug - 3 OS
          - os: windows-latest
            build-config: debug
            intrinsics: HWIntrinsics
            avx2: Avx2
          - os: macos-latest
            build-config: debug
            intrinsics: HWIntrinsics
            avx2: NoAvx2
          - os: ubuntu-latest
            build-config: debug
            intrinsics: HWIntrinsics
            avx2: NoAvx2
            
          # windows-latest - 2 variants
          - os: windows-latest
            build-config: release
            intrinsics: NoHWIntrinsics
            avx2: NoAvx2
          - os: windows-latest
            build-config: release
            intrinsics: HWIntrinsics
            avx2: Avx2

          # macos-latest - 2 variants
          - os: macos-latest
            build-config: release
            intrinsics: NoHWIntrinsics
            avx2: NoAvx2
          - os: macos-latest
            build-config: release
            intrinsics: HWIntrinsics
            avx2: NoAvx2


          # ubuntu-latest - 3 variants            
          - os: ubuntu-latest
            build-config: release
            intrinsics: HWIntrinsics
            avx2: Avx2
          - os: ubuntu-latest
            build-config: release
            intrinsics: HWIntrinsics
            avx2: NoAvx2
          - os: ubuntu-latest
            build-config: release
            intrinsics: NoHWIntrinsics
            avx2: NoAvx2
            
    env:
      DOTNET_EnableAVX2: ${{ matrix.avx2 == 'NoAvx2' && '0' || '1' }}
      DOTNET_EnableHWIntrinsic: ${{ matrix.intrinsics == 'NoHWIntrinsics' && '0' || '1' }}
      
    steps:
      - name: Check out repository
        uses: actions/checkout@v5

      - name: Set up .NET
        uses: actions/setup-dotnet@v5

      - name: Install dependencies
        working-directory: src
        run: dotnet restore

      - name: Test
        working-directory: src/Nethermind.Int256.Tests
        run: dotnet test -c ${{ matrix.build-config }} --no-restore

      - name: Publish
        if: matrix.build-config == 'release' && matrix.intrinsics == 'HWIntrinsics' && matrix.avx2 == 'Avx2' &&
          (github.event_name == 'workflow_dispatch' && github.event.inputs.publish != 'No' || github.event_name == 'release')
        working-directory: src
        run: |
          dotnet pack ./Nethermind.Int256 -c ${{ matrix.build-config }} --no-build
          dotnet nuget push ./artifacts/package/${{ matrix.build-config }}/*.nupkg \
            -k ${{ github.event.inputs.publish == 'Staging' && secrets.NUGETTEST_API_KEY || secrets.NUGET_API_KEY }} \
            -s ${{ github.event.inputs.publish == 'Staging' && 'https://apiint.nugettest.org/v3/index.json' || 'https://api.nuget.org/v3/index.json' }}

